<footer class="footer-hygge">
  <div class="footer-content">
    <div class="footer-col">
      <div class="footer-title">Hygge Games</div>
      <ul>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Contato</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <div class="footer-title">Redes Sociais</div>
      <ul>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Facebook</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <div class="footer-title">Para Revendedores</div>
      <ul>
        <li><a href="#">Minha conta</a></li>
        <li><a href="#">Seja um revendedor</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <div class="footer-title">Outros materiais</div>
      <ul>
        <li><a href="#">Banco de imagens</a></li>
        <li><a href="#">Catálogo de Produtos</a></li>
      </ul>
    </div>
    <div class="footer-logo">
      <img src="src/img/logo.png" alt="Logo Hygge Games">
    </div>
  </div>
  <div class="footer-bottom">
    E-commerce por B.a.m
  </div>
</footer>
