<footer class="footer-hygge">
  <div class="footer-content">
    <div class="footer-col">
      <div class="footer-title">Hygge Games</div>
      <ul>
        <li><a href="sobre-hygge.html">Sobre a Hygge</a></li>
        <li><a href="contato.html">Contato</a></li>
        <li><a href="faq.html">FAQ</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <div class="footer-title">Redes Sociais</div>
      <ul>
        <li><a href="https://www.instagram.com/hyggegamesbrasil/" target="_blank" rel="noopener noreferrer">Instagram</a></li>
        <li><a href="https://www.facebook.com/profile.php?id=61557495400517" target="_blank" rel="noopener noreferrer">Facebook</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <div class="footer-title">Para Revendedores</div>
      <ul>
        <li><a href="login.html">Minha conta</a></li>
        <li><a href="https://www.hyggegames.com/pt-br/seja-um-revendedor">Seja um revendedor</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <div class="footer-title">Compras</div>
      <ul>
        <li><a href="todos-os-jogos.html">Catálogo de Produtos</a></li>
        <li><a href="entrega-e-frete.html">Entrega e Frete</a></li>
        <li><a href="troca-e-devolucao.html">Troca e Devolução</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <div class="footer-title">Legal</div>
      <ul>
        <li><a href="politica-privacidade.html">Política de Privacidade</a></li>
        <li><a href="termos-de-uso.html">Termos de Uso</a></li>
        <li><a href="politica-de-cookies.html">Política de Cookies</a></li>
      </ul>
    </div>
    <div class="footer-logo">
      <img src="/img/logo.png" alt="Logo Hygge Games">
      <div class="footer-bottom">E-commerce por BAM Assessoria em Marketing</div>
    </div>
  </div>
</footer>
